{% extends "layout.html" %}

{% block title %}
    Profile details
{% endblock %}

<!-- Desktop -->
{% block desktop %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-5">
                <div class="card border-0 shadow-sm rounded-4">
                    <div class="card-body p-4 p-md-5">
                        
                        <div class="d-flex align-items-center justify-content-between">
                            <h3 class="fw-normal">Profile details</h3>
                        </div>

                        <p class="text-muted small">
                            Fields marked with <span class="text-danger">*</span> are required
                        </p>

                        <form action="/profile" method="post" class="vstack gap-3">

                            <div class="form-floating">
                                <input class="form-control" name="email" placeholder="Email address" required type="email" value="{{ users.email }}">
                                <label for="floatingInput">Email address<span class="text-danger">*</span></label>
                            </div>

                            <div class="form-floating">
                                <input class="form-control" name="username" placeholder="Username" required type="text" value="{{ users.username }}">
                                <label for="floatingInput">Username<span class="text-danger">*</span></label>
                            </div>

                            <div class="form-floating">
                                <input class="form-control" name="birth" id="birth" placeholder="Date of birth" type="text" value="{% if users.birth == None %}{% else %}{{ users.birth }}{% endif %}">
                                <label for="floatingInput">Date of birth</label>
                            </div>

                            <div class="form-floating">
                                <input class="form-control" name="password" placeholder="Password (required)" required type="password">
                                <label for="floatingInput">Password<span class="text-danger">*</span></label>
                            </div>

                            <div class="form-floating">
                                <input class="form-control" name="new_password" placeholder="New password" type="password">
                                <label for="floatingInput">New password</label>
                            </div>

                            <button class="btn btn-primary btn-lg w-100" type="submit">Save</button>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>        
{% endblock %}

<!-- Mobile -->
{% block mobile %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-5">
                <div class="card border-0 shadow-sm rounded-4">
                    <div class="card-body p-4 p-md-5">
                        
                        <div class="d-flex align-items-center justify-content-between">
                            <h3 class="fw-normal">Profile details</h3>
                        </div>

                        <p class="text-muted small">
                            Fields marked with <span class="text-danger">*</span> are required
                        </p>

                        <form action="/profile" method="post" class="vstack gap-3">

                            <div class="form-floating">
                                <input class="form-control" name="email" placeholder="Email address" required type="email" value="{{ users.email }}">
                                <label for="floatingInput">Email address<span class="text-danger">*</span></label>
                            </div>

                            <div class="form-floating">
                                <input class="form-control" name="username" placeholder="Username" required type="text" value="{{ users.username }}">
                                <label for="floatingInput">Username<span class="text-danger">*</span></label>
                            </div>

                            <div class="form-floating">
                                <input class="form-control" name="birth" id="birth" placeholder="Date of birth" type="text" value="{% if users.birth == None %}{% else %}{{ users.birth }}{% endif %}">
                                <label for="floatingInput">Date of Birth</label>
                            </div>

                            <div class="form-floating">
                                <input class="form-control" name="password" placeholder="Password (required)" required type="password">
                                <label for="floatingInput">Password<span class="text-danger">*</span></label>
                            </div>

                            <div class="form-floating">
                                <input class="form-control" name="new_password" placeholder="New password" type="password">
                                <label for="floatingInput">New password</label>
                            </div>

                            <button class="btn btn-primary btn-lg w-100" type="submit">Save</button>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>        
{% endblock %}
